/* big tablets to 1200px (width smaller then 1140px rows) */
@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .my-row {
        padding: 0 2%
    }
}


/* small tablets to big tablets : from 767px to 1023px */
@media only screen and (max-width:1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin: 0 auto;
    }

    .steps-box {
        margin-top: 10px
    }

    .steps-box:last-child {
        margin-top: 10px;
    }

    .works-step {
        margin-bottom: 40px
    }

    .work-steps:last-of-type {
        margin-bottom: 60px
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
        font-size: 100%;
    }

    .city-feature {
        font-size: 90%
    }

    .plan-box {
        width: 100%;
        margin: 0 auto;
    }

    .plan-price {
        font-size: 250%;
        margin-bottom: 5px;
    }

    .contact-form {
        width: 80%;
    }

    .footer-nav li {
        margin-top: 2%;
    }

}


/* small phones to small tablets : from 480px to 767px */
@media only screen and (max-width:767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .my-row,
    .hero-text-box {
        padding: 0 4%;
    }

    .main-nav {display: none;}
    .mobile-nav-icon {
        display: inline-block;
    }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: none;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 16px 0;
        color: #555;

    }
    .sticky .mobile-nav-icon{
        margin-top:10px;
    }

    .sticky .logo {
        display: none;
    }

    .sticky .logo-black {
        display: block;
    }
    .sticky .nav-bar{
        color:#000;
    }
    .sticky .main-nav {
        margin-top: 10px;
    }



    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%
    }

    .long-copy {
        width: 100%;
        margin: 0 auto;
    }

    .works-step {
        margin-bottom: 20px
    }

    .work-steps:last-of-type {
        margin-bottom: 20px
    }

    .works-step div {
        width: 40px;
        height: 40px;
        padding: 4px;
        margin-right: 25px;
        font-size: 130%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .app-screen {
        width: 40%;
    }

    .plan-box {
        margin-bottom: 2%;
    }

    .social-links {
        margin-top: 5%;
        float: none;
        text-align: center;
    }
}


/* small phones : form 0 to 480px */
@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }
}
